@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*(
@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-VariableFont_opsz wght.ttf") format("truetype");
}
*/
*, *:focus,
*::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;

    color: #ffffff;
    text-decoration: none;
    font-size: 14px;

    background-color: #50f7502f;/*debug line*/
}



.wrapper{


    max-width: 1300px;

    margin-left: auto;
    margin-right: auto;


    --secondary-color: #fab72a;
    --main-color: #010101;


    font-family: "Inter", serif;
    font-weight: 600;

    overflow: hidden;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1300px;
    height: 90px;

    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    
    background-color: var(--main-color);

}

nav{
    display: flex;
}

.logo,
.logo img{
    height: 60px;
}

.navigation, 
.social{
    display: flex;
    list-style: none;
    align-items: center;
}

.navigation{
    margin-left: 48px;
}

.navigation li{
    margin-right: 24px;
}

.social li{
    margin-right: 12px;
}

.navigation li:last-child, 
.social li:last-child{
    margin-right: 0;
}

.navigation-element{
    text-transform: uppercase;
}






section{
    margin-top: 80px;
    /*max-height: 100vh;*/
}

.first-section{
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.headline-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;

    max-width: 570px;/*2)бо дублює ось це*/
}

.headline-section h1{
    display: flex;
    flex-direction: column;

    max-width: 570px;/*1)скоріш за все треба буде видалити бо дублює верхнє*/

    margin-bottom: 50px;

    text-transform: uppercase;
    font-size: 85px;
    font-weight: 600;
}

.headline-section h1 span:first-child{
    padding-left: 150px;

    font-size: 1em;
}

.headline-section h1 span:nth-child(2){
    padding-left: 0px;

    font-size: 90px;
}
.headline-section h1 span:last-child{
    padding-left: 45px;

    font-size: 1em;
}

.accent-text{
    color: var(--secondary-color);
}

.button{
    text-align: center;

    width: 320px;

    padding-top: 14px;
    padding-bottom: 14px;

    color: var(--main-color);

    text-transform: uppercase;

    font-size: 16px;
    font-weight: 500;

    background-color: var(--secondary-color);
}

.button:hover{
    color: #ffffff;
    cursor: pointer;
}

.drone-images-section{
    display: flex;
    align-items: flex-start;
}

.drone-images-section img{
    position: relative;
}

.drone-images-section img:first-child{
    width: 740px;
    top: -110px;
    left: -140px;
    rotate: -8deg;
}

.drone-images-section img:last-child{
    width: 330px;
    top: 200px;
    left: -500px;
    rotate: 4deg;
}
