*, 
*::after, *::before, 
*:hover, *:active, *:focus{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;

    background-color: #50f7502f;
}



.wrapper{
    overflow: hidden;
}


.header{
    display: flex;
    justify-content: space-between;

    max-width: 1300px;

    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
}

.navigation{
    display: flex;
    list-style: none;
    align-items: center;
}

.navigation li{
    margin-left: 25px;
}